@page "/api/posts/{id}"

@using Dadforum_blazor.Data;
@using shared.Model;
@inject ApiService apiService

<PageTitle>Dadforum Tråd</PageTitle>

<style>
    div.post
    {
        position: relative;
        padding: 5px;       
        width: 800px;
        font-size: x-large;
        background-color: beige;
        border: solid;
        border-color: black;
        border-radius: 5px;¨
        font-size: 20px;
    }
    div.kommentarer
    {
        position: relative;
        padding: 10px;
        width: 800px;
        background-color: beige;
        border: solid;
        border-color: black;
        border-radius: 5px;
    }
    div.postComment
    {
        position: static;
        padding: 5px;
        width: 800px;
        background-color: beige;
        border: solid;
        border-color: black;
        border-radius: 5px;
    }

</style>


@if (Post == null)
{
    <p><em>Loading...</em></p>
}
else 
{
    <div class="post">
        <h5>Name of Author - @Post.NameOfAuthor</h5>
        <p>Post - @Post.PostString</p>
    </div>

    <br/>

    <div class="kommentarer">
        <h3>Comment</h3>
        
        <table>
            <tr>
                <th>Kommentar</th>
                <th>Upvotes</th>
                <th>Downvotes</th> 
            </tr>
            @foreach (var comment in Post.Comments)
            {
                <tr>
                    <td>@comment.CommentString</td>
                    <td>@comment.Upvotes</td>                 
                    <td>@comment.Downvotes</td>
                    <td><button @onclick="() => Upvote(comment.CommentID)"> Upvote</button></td>
                    <td><button @onclick="() => Downvote(comment.CommentID)"> Downvote</button></td>
                </tr>
            }     
        </table>
        </div>
    <br/>
    <div class="postComment">
        <CreateComment PostId=@PostId></CreateComment>
    </div>

}

@code   
{
    [Parameter]
    public string Id {get; set; }
    public int PostId { get { return int.Parse(Id);} }
    public Post Post { get; set; }
    private Post? voteComment;

    protected override async Task OnInitializedAsync()
    {
        Post = await apiService.GetPost(PostId);
    }

    private async void Upvote(int id)
    {
        var upvoteComment = await apiService.UpvoteComment(id);
    }
    private async void Downvote(int id)
    {
        var downvoteComment = await apiService.DownvoteComment(id);
    }
}