@page "/api/posts/{id}"

@using Dadforum_blazor.Data;
@using shared.Model;
@inject ApiService apiService

<PageTitle>Dadforum Tråd</PageTitle>

@if (Post == null)
{
    <p><em>Loading...</em></p>
}
else 
{
    <div class="contents">
        <h4>@Post.NameOfAuthor</h4>
        <p>@Post.PostString</p>
    </div>

    <div class="contents">
        <h4>Comment</h4>
        <table>
            <tr>
                <th>Kommentar</th>
                <th>Upvotes</th>
                <th colspan="3">Downvotes</th>
            </tr>
            @foreach (var comment in Post.Comments)
            {
                <tr>
                    <td>@comment.CommentString</td>
                    <td>@comment.Upvotes</td>
                    <td>@comment.Downvotes</td>
                    <td><button @onclick="() => Upvote(comment.CommentID)"> Upvote</button></td>
                    <td><button @onclick="() => Downvote(comment.CommentID)"> Downvote</button></td>
                </tr>
            }
        </table>
    </div>
}

<CreateComment PostId=@PostId></CreateComment>

@code   
{
    [Parameter]
    public string Id {get; set; }
    public int PostId { get { return int.Parse(Id);} }
    public Post Post { get; set; }
    private Post? voteComment;

    protected override async Task OnInitializedAsync()
    {
        Post = await apiService.GetPost(PostId);
    }

    private async void Upvote(int id)
    {
        var upvoteComment = await apiService.UpvoteComment(id);
    }
    private async void Downvote(int id)
    {
        var downvoteComment = await apiService.DownvoteComment(id);
    }
}