@inherits LayoutComponentBase

@using Dadforum_blazor.Data;
@using shared.Model;
@inject ApiService apiService

@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<style>
    div.tableofpost
    {
        position: relative;
        padding: 5px;       
        width: 1200px;
        font-size: x-large;
        background-color: beige;
        border: solid;
        border-color: black;
        border-radius: 5px;
        font-size: 20px;
    }
</style>

@if (posts == null)
{
    <p><em>Loading...</em></p>
}
else
{
<div class="tableofpost">
    <table>
        <tr>
            <th>Dato</th>
            <th>Author</th>
            <th>Content</th>
            <th>Upvotes</th>
            <th>Downvotes</th>
        </tr>
        @foreach (var post in posts)
        {
            <tr>
                <td>@post.DateOfSubmission</td>
                <td>@post.NameOfAuthor</td>
                <td><a href="/api/posts/@post.PostID">@post.PostString</a></td>
                <td>@post.Upvotes</td>
                <td>@post.Downvotes</td>
                <td><button @onclick="() => Upvote(post.PostID)"> Upvote</button></td>
                <td><button @onclick="() => Downvote(post.PostID)"> Downvote</button></td>
            </tr>
        }
    </table>
</div>
    <br/>
}

@code {
    private Post[]? posts;
    private Post? votePost;

    protected override async Task OnInitializedAsync()
    {
        posts = await apiService.GetPosts();
    }

    private async void Upvote(int id)
    {
        var upvotePost = await apiService.UpvotePost(id);
    }

    private async void Downvote(int id)
    {
        var downvotePost = await apiService.DownvotePost(id);
    }
}
